.link {
  display: grid;

  &--Previous {
    justify-content: flex-start;
  }

  &--Next {
    justify-content: flex-end;
    text-align: right;
  }

  strong {
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  a {
    display: grid;
    gap: 0.5rem;
  }
}
