:root {
  --fake-var: 0;
}

/* Temporary styles */
ol,
ul {
  display: grid;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
