@import 'mixins';

:root {
  --color-background: white;
  --color-foreground: black;
  --color-links: blue;
  --max-width: 550px;
  --nav-align: center;
  --nav-gap: 1rem;
  --nav-justification: space-between;
  --nav-padding: 0 1rem;
  --nav-width: 650px;
  --size-touchable: 3rem;
  --title-justification: center;
  --tx-duration: 0;
  --tx-function: ease-in-out;

  // @page.module.scss
  --home-grid-columns: 1fr;

  @media (prefers-reduced-motion: no-preference) {
    --tx-duration: 195ms;
  }

  @media (min-width: 441px) {
    --nav-justification: center;
  }

  @media (min-width: 989px) {
    --max-width: 1116px;
    --nav-align: left;
    --nav-gap: 2rem;
    --nav-justification: flex-start;
    --nav-padding: 0;
    --nav-width: auto;
    --size-touchable: none;
    --title-justification: flex-start;

    // @page.module.scss
    --home-grid-columns: repeat(2, 1fr);
  }
}

* {
  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  margin: 0;
}

a {
  @include link-variants {
    color: var(--color-links);
  }
}

a[href="#content"] {
  align-items: center;
  background-color: var(--color-background);
  border: 1px solid;
  display: flex;
  height: 3rem;
  left: 1rem;
  padding: 0 3rem;
  position: fixed;
  top: -4rem;
  transition: top var(--tx-duration) var(--tx-function);

  &:focus {
    top: 1rem;
  }
}

img,
svg {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.inner {
  margin: auto;
  max-width: var(--max-width);
}

header {
  background-color: var(--color-foreground);
  color: var(--color-background);
  padding: 1rem;

  .inner {
    display: grid;
    gap: 1rem;

    & > a {
      @include touchable;
      align-items: center;
      display: flex;
      font-size: 1.25rem;
      justify-content: var(--title-justification);

      @include link-variants {
        color: var(--color-background);
      }
    }
  }

  nav {
    div {
      font-weight: 700;
      font-size: 0.75rem;
      margin-bottom: 1rem;
      text-align: var(--nav-align);
      text-transform: uppercase;
    }

    ul {
      display: flex;
      flex-flow: row wrap;
      gap: var(--nav-gap);
      justify-content: var(--nav-justification);
      list-style: none;
      margin: auto;
      max-width: var(--nav-width);
      padding: 0;
    }

    a {
      @include touchable;
      align-items: center;
      display: flex;
      padding: var(--nav-padding);

      @include link-variants {
        color: var(--color-background);
      }
    }
  }
}

main {
  padding: 1rem;
}

footer {
  padding: 1rem;
}

.external-link {
  svg {
    height: 1rem;
    margin-left: 0.25rem;
    vertical-align: text-top;
    width: auto;
  }
}
